$main-font: "Montserrat", "Arial", "Helvetica", sans-serif;
$second-font: "Cormorant Garamond", "Times New Roman", "Georgia", serif;
$third-font: "Lato", "Arial", "Helvetica", sans-serif;
$white: #fff;
$brown: #D0B194;
$brown-2: #CBB097;
$brown-3: #693030;
$brown-4: #C5B19D;
$brown-5: #8E6363;
$black: #2F2F2F;
$black-2: #3C3D3D;
$black-3: #000000;
$cream: #F4E8DA;
$cream-2:#F2E5D5;
$cream-3: #F8D9BC;
$cream-4: #F6EDE3;
$cream-5: #FDFBF8;
$cream-6: #FCEAD9;
$yellow: #DBAF15;
$grey: #FAF4ED;
$grey-2: #134d12;

$mobile-width: 320px;
$tablet-width: 1074px;
$desktop-width: 1600px;