.calculator-form {
}

.calculator-form__first-part {
    padding: 0 269px 13px 314px;

    @include tablet {
        padding: 0 14px 3px 14px;
    }
}

.calculator-form__bathroom-type {
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;

    @include tablet {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        margin-bottom: 35px;
    }
}

.calculator-form__title {
    padding: 0;
    margin: 0;
    margin-right: 25px;
    font: 900 18px/27px $third-font;
    color: $black-2;
    letter-spacing: 0.01em;

    @include tablet {
        font: 900 16px/24px $third-font;
        padding-bottom: 18px;
    }
}

.calculator-form__list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
        display: block;
        padding-bottom: 9px;
    }
}

.calculator-form__item {
    margin-right: 22px;

    @include tablet {
        margin: 0;
        margin-bottom: 10px;
    }
}

.calculator-form__label {
    font: 18px/27px $third-font;
    letter-spacing: 0.01em;
    margin-left: 22px;
    color: $black-2;
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;

    @include tablet {
        margin-left: 41px;
    }
}

.calculator-form__input + .calculator-form__label::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 2px;
    width: 20px;
    height: 20px;
    border: 2px solid $brown-5;
    border-radius: 50%;
    box-sizing: border-box;

    @include tablet {
        left: -40px;
        top: 4px;
    }
}

.calculator-form__input:checked + .calculator-form__label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -27px;
    width: 14px;
    height: 14px;
    background-color: $brown-3;
    border-radius: 50%;
    box-sizing: border-box;

    @include tablet {
        top: 7px;
        left: -37px;
    }
}

.calculator-form__area-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calculator-form__area {
    padding: 0;
    margin: 0;
    margin-right: 14px;
    font: 900 18px/27px $third-font;
    color: $black-2;
    letter-spacing: 0.01em;

    @include tablet {
        font: 900 16px/24px $third-font;
    }
}

.calculator-form__number {
    width: 170px;
    height: 38px;
    border: none;
    background-color: $grey;
    border-radius: 8px;
    font: 16px/24px $third-font;
    letter-spacing: 0.01em;
    color: $black-2;
    padding: 7px 0 7px 17px;

    @include tablet {
        margin-top: 5px;

        @include tablet {
            width: 159px;
            height: 37px;
            font: 15px/23px $third-font;
        }
    }
}

.calculator-form__second-part {
    margin: 0 215px;
    padding: 55px 29px 65px 100px;
    background-color: $cream-4;
    border-radius: 16px;

    @include tablet {
        margin: 0;
        padding: 0;
        border-radius: 0;
        background-color: $white;
    }
}

.calculator-form__fill-in {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @include tablet {
        display: block;
    }
}

.calculator-form__fieldset {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: none;
    margin-top: 10px;

    @include tablet {
        display: block;
        background-color: $cream-4;
        padding: 34px 48px;
    }
}

.calculator-form__head {
    padding: 0;
    padding-bottom: 25px;
    color: $black;

    @include tablet {
        padding: 0 0 14px 14px;
    }
}

.calculator-form__text {
    font: 18px/27px $third-font;
    letter-spacing: 0.01em;
    color: $black-2;

    @include tablet {
        font: 13px/20px $third-font;
        width: 192px;
        padding: 0 0 0 14px;
        margin: 0;
    }
}

.calculator-form__textfield {
    width: 225px;
    height: 65px;
    margin-right: 23px;
    padding: 18px 0 17px 20px;
    font: 20px/30px $third-font;
    border-radius: 16px;

    @include tablet {
        font: 15px/23px $third-font;
        width: 225px;
        height: 43px;
        padding: 18px 0 17px 19px;
        margin: 0;
        margin-bottom: 26px;
        border-radius: 10px;
    }
}

.calculator-form__submit {
    width: 225px;
    height: 65px;
    padding: 8px;
    font: 700 18px/27px $third-font;
    border-radius: 18px;

    @include tablet {
        font: 700 15px/23px $third-font;
        width: 225px;
        height: 43px;
        padding: 7px 24px;
    }
}
