.examples {
    padding: 0 85px 120px 85px;

    @include tablet {
        padding: 0 0 63px 0;
    }
}

.examples__container {
    max-width: 1429px;

    @include tablet {
        max-width: 290px;
        margin: 0;
    }
}

.examples__head {
    padding-bottom: 20px;
    margin: 0;
    margin-bottom: 122px;
    text-align: center;
    border-bottom: 1px solid $brown-3;

    @include tablet {
        padding-bottom: 10px;
        margin-bottom: 26px;
    }
}

.examples__list {
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;

    @include tablet {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.examples__item {
    padding: 46px 18px;
    display: grid;
    column-gap: 30px;
    grid-template-columns: 379px 1fr;
    box-shadow: 0 0 44px rgba($black-2, 0.2);
    border-radius: 32px;

    @include tablet {
        padding: 20px 15px;
        background: linear-gradient(270deg, $cream-2, rgba($white, 0.99) 97%), rgba($cream-3, 0.22);
        box-shadow: 0 15px 50px 5px rgba($black-3, 0.1);
        border-radius: 0;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
}

.examples__first-box {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 18px;

    @include tablet {
        grid-row: 2/3;
        grid-column: 1/2;
        margin: 0;
    }
}

.examples__second-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    grid-column: 1/2;

    @include tablet {
        grid-gap: 8px;
    }
}

// .examples__before-after {
//     display: flex;
//     flex-wrap: wrap;
//     justify-content: space-between;
//     align-items: stretch;
//     width: 379px;
//     margin-right: 31px;

//     @include tablet {
//         width: 290px;
//         margin: 0;
//         margin-bottom: 7px;
//     }
// }

.examples__figure {
    position: relative;
}

.examples__figcaption {
    position: absolute;
    top: 182px;
    height: 40px;
    font: 500 20px/30px $third-font;

    @include tablet {
        top: 122px;
        width: 144px;
        height: 27px;
        font: 500 13px/20px $third-font;
    }
}

.examples__figcaption--before {
    border-radius: 0 0 0 16px;
    width: 190px;

    @include tablet {
        width: 144px;
    }
}

.examples__figcaption--after {
    border-radius: 0 0 16px 0;
    width: 187px;

    @include tablet {
        width: 144px;
    }
}

.examples__remont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include tablet {
        order: -1;
    }
}

.examples__third-box {
    grid-row: 1/2;
    grid-column: 2/-1;

    @include tablet {
        grid-row: 1/2;
        grid-column: 1/2;
    }
}

.examples__title {
    padding: 0;
    // padding-bottom: 18px;
    padding-bottom: 27px;
    margin: 0;
    width: 253px;
    font: 22px/22px $second-font;
    color: $black;

    @include tablet {
        // padding: 0 30px 20px 30px;
        padding-bottom: 20px;
        font: 20px/20px $second-font;
        text-align: center;
        width: 275px;
    }
}

.examples__description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 18px;

    @include tablet {
        justify-content: center;
        align-items: center;
        margin-bottom: 12px;
    }
}

// .examples__img--first {
//     margin-bottom: 12px;

//     @include tablet {
//         margin-bottom: 8px;
//     }
// }

.examples__area {
    margin-right: 21px;
}

.examples__area-number,
.examples__terms-days {
    font: 900 15px/23px $third-font;
    letter-spacing: 0.01em;
    margin-bottom: 3px;

    @include tablet {
        font: 900 13px/20px $third-font;
        margin: 0;
        text-align: center;
    }
}

.examples__area-description,
.examples__terms-description {
    font: 15px/23px $third-font;
    letter-spacing: 0.01em;

    @include tablet {
        font: 13px/20px $third-font;
    }
}

.examples__fourth-box {
    grid-column: 2/-1;
    margin-top: -111px;
    margin-left: -33px;

    @include tablet {
        grid-column: 1/-1;
        margin: 0;
    }
}

// .examples__video {
//     order: -1;
//     margin-top: -100px;
//     @include tablet {
//         margin: 0 36px 20px 36px;
//     }
// }

// .examples__figure-video {
//     position: relative;
// }

// .examples__figcaption-video {
//     position: absolute;
//     font: 700 12px/18px $third-font;
//     letter-spacing: 0.01em;
//     color: $white;
//     text-transform: uppercase;
//     top: 62px;
//     left: 32px;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;

//     @include tablet {
//         font: 400 11px/17px $third-font;
//         top: 34px;
//     }
// }

// .examples__svg-video {
//     fill: none;
//     height: 45px;
//     width: 45px;
//     margin-right: 13px;

//     @include tablet {
//         width: 29px;
//         height: 29px;
//     }
// }

.examples__video-box {
    position: relative;
    margin-left: 36px;
    margin-bottom: 20px;
}

.examples__video-button {
    position: absolute;
    width: 188px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    font: 700 12px/18px $third-font;
    letter-spacing: 0.01em;
    color: $white;
    text-transform: uppercase;

    &:active {
        text-decoration-line: underline;
    }

    @include tablet {
        width: 146px;
        font: 400 11px/17px $third-font;
    }
}

.examples__video-button::before {
    content: " ";
    background: url(../img/video-icon.svg) no-repeat center center;
    width: 45px;
    height: 45px;
    flex-shrink: 0;
    margin-right: 13px;

    @include tablet {
        width: 29px;
        height: 29px;
        background: url(../../img/video-icon_mobile.svg) no-repeat center center;
    }
}

.examples__more {
    display: block;
    width: 189px;
    padding: 10px 42px;
    margin-top: 11px;
    margin-left: 63px;
    border-radius: 100px;
    font: 900 16px/24px $third-font;
    text-decoration: none;

    @include tablet {
        padding: 10px 48px;
        margin: 0 59px;
        width: 172px;
        font: 900 14px/21px $third-font;
    }
}
